* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    animation: fadeIn 1.5s ease-out;
    background-image: url(Res/dr4.jpg);
    font-family: Arial, sans-serif;
    color: #333;
    background-repeat:no-repeat;
    background-size:cover;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
.home-logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.home-logo:hover {
    color: #A3C2C2;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.navbar .logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #A3C2C2;
    border-radius: 5px;
}

.introduction-section {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}
.about-me a {
    margin: 30px;
    text-decoration: none;
    color: white;
}
.description-contianer {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.name {
    color: #A3C2C2;
    margin: 30px;
    font-size: 30px;
}
.description {
    margin: 30px;
    font-size: 15px;
    text-align: justify;
}
.btn-arrow {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    position: relative;
    padding-right: 30px;
    transition: padding-right 0.3s ease;
}
.btn-arrow::after {
    content: "→"; /* Right arrow */
    position: absolute;
    right: 0;
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease;
}
.btn-arrow:hover {
    padding-right: 30px; /* Increase space to make room for the arrow */
}

.btn-arrow:hover::after {
    right: 10px; /* Move the arrow out */
    opacity: 1;  /* Make the arrow visible */
}

.socials ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 30px 45px;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: #A3C2C2;
    font-size: 24px; 
    transition: color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #323232; 
}
.socials a:hover {
    color: #007bff; 
    background-color: #d0d0d0; 
    transform: scale(1.2);
}

.socials a:active {
    color: #A3C2C2; 
    background-color: #b0b0b0; 
}