* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Res/dr4.jpg);
    font-family: Arial, sans-serif;
    color: #333;
    background-repeat:no-repeat;
    background-size:cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.navbar .logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.introduction-section {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
.name {
    margin: 30px;
    font-size: 30px;
}
.description {
    margin: 30px;
    font-size: 15px;
    text-align: justify;
}